<div class="data-container">
	<% directions = [] %>
	<% @station.stops.each {|stop| directions << stop.direction if !directions.include?(stop.direction)} %>
	<% directions.sort.each do |direction| %>
		<% trains = [] %>
		<% @station.stops.each do |stop| %>
			<% if stop.direction == direction %>
				<% data = CTA::TrainTracker.arrivals :stpid => stop.cta_id %>
				<% data.each {|data| trains << data} %>
			<% end %>
		<% end %>
		<div class="stop">
			<h2><%= direction %></h2>
			<% sort_arrivals(trains).each do |train| %>
				<div class="train" id="<%= train.rt.downcase %>">
					<div class="train-dest"><%= train.destNm %></div>
					<div class="train-time"><%= time(train.arrT, train.isSch) %></div>
				</div>
			<% end %>
		</div>
	<% end %> 
	<h4>* scheduled</h4>
</div>