<div class="data-container">
	<% directions = [] %>
	<% @station.stops.each {|stop| directions << stop.direction if !directions.include?(stop.direction)} %>
	<% directions.sort.each do |direction| %>
		<% trains = [] %>
		<% @station.stops.each do |station| %>
			<% if station.direction == direction %>
				<% trains << rand(1000) %>
				<% trains << rand(1000) %>
				<% trains << rand(1000) %>
			<% end %>
		<% end %>
		<div class="stop">
			<h2><%= direction %></h2>
			<% trains.sort.each do |train| %>
				<div class="train" id="<%= @station.lines.sample.name.downcase %>">
					<div class="train-dest">destin.</div>
					<div class="train-time"><%= train %></div>
				</div>
			<% end %>
		</div>
	<% end %> 
	<h4>* scheduled</h4>
</div>