<%= render partial: 'stations/header', locals: {station: @station} %>

<%= render partial: 'stations/data', locals: {station: @station} %>

<div id="map-canvas">Map here:</div>
<input type=hidden id="latitude" value="<%= @station.latitude %>">
<input type=hidden id="longitude" value="<%= @station.longitude %>">