<h1><%= @user.username %> - Stations</h1>

<h2>My Stations</h2>

<% current_user.stations.each do |station| %>
  <div>
   <div class="station-name">
		<%= link_to station.name, station_path(station) %>
   </div>
    <% station.lines.each do |line| %>
      <div class="line-icon" id="<%= line.name.downcase %>">&nbsp;</div>
    <% end %>
    <div class="delete-station-x">
    	<%= link_to "x", removestation_path(:station_id => station.id) %>
    </div>
  </div>
<% end %>

